<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Home |</a>
    </div>
   <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-left">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle navbar-brand" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My neighbourhood <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/">View my neighbourhood |</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="{%url 'all_neighbourhoods'%}">View all neighbourhoods</a></li>
                </ul>
              </li>
            {% if user.is_authenticated %}
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle navbar-brand" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Add new ... <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="{% url 'add_neighbourhood'%}">Add a neighbourhood |</a></li>
                    <li><a href="{% url 'new_business'%}">Add a business |</a></li>
                    <li><a href="{% url 'new_post'%}">Add a notice |</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Change your neighbourhood</a></li>
                  </ul>
                </li>
            {% else %}

          {% endif %}
        </ul>
        <ul class="nav navbar-nav navbar-right">
              <li><a class="navbar-brand" href="/admin"> Admin |</a></li>
        </ul>
        {% if user.is_authenticated %}
          <ul class="nav navbar-nav navbar-right">
            <li><a class="navbar-brand" href="/accounts/profile">My profile |</a></li>
            <li><a class="navbar-brand" href="/accounts/logout">Logout |</a></li>
          </ul>
        {% else %}
        <ul class="nav navbar-nav navbar-right">
          <li><a class="navbar-brand" href="/accounts/login">Login |</a></li>
          <li><a class="navbar-brand" href="/accounts/register">Sign up |</a></li>
        </ul>
        {% endif %}

</div>

  </div>
</nav>
</body>
</html>
